.bubble {
    border-radius: 10%;
    position: absolute;
    color:white;
    font-weight:bold;
    font-size:30%;
    text-align:center;
    padding-top:0.3em;
    font-family:verdana;
}

.newaccount {
    border-radius: 100% !important;
}

.vert-center {
    margin-top:10%;
    display:inline-block;
}

.top, .bottom {
    height:50%;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.app {
    display: none;
}